.custom-bg {
  background-color:  #f6f9fd;
}
.custom-bg-nav {
  background-color: #f0f4fc;
}
.vazir {
  font-family: 'Vazir', sans-serif;
}
.card-hover {
  transition: transform 0.3s ease;
}

.card-hover:hover {
  transform: scale(1.05);
}
.card-cover {
  min-height: 250px; 
  max-height: 250px;
}
.list-card {
  min-height: 400px; 
  max-height: 400px;
}
@media (max-width: 767.98px) {
.horizontal-scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding-left: 1rem;
  gap: 1rem;
}

.horizontal-scroll::-webkit-scrollbar {
  display: none; 
}

.scroll-item {
  flex: 0 0 80%; 
  scroll-snap-align: start;
}
}
.text-hot {
  color: #004b94;
}
.fixed-image {
  height: 200px;    
  object-fit: cover;     
  width: 100%;          
}
.category-label {
  display: inline-block;
  background-color: #0650c0d3;  
  color: #fff;
  padding: 4px 10px;
  font-size: 0.75rem;
  font-weight: 600;
  border-radius: 50px;        
  text-transform: uppercase;
}
.breadcrumb-item + .breadcrumb-item::before {
  font-family: "bootstrap-icons";
  content: "\f284"; 
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.5rem;
  font-size: 1rem;
  color: #6c757d;
}
.breadcrumb-item.active::before {
  content: none;
}
.content-margin{
  margin-top: 90px;
  margin-right: 50px;
  margin-bottom: 50px;
  margin-left: 20px;
}
@media (max-width: 767.98px) {
  .content-margin {
    margin-right: 20px; 
    margin-top: 40px;
    margin-left: 20px;
  }
}
.veiw-margin{
  margin-right: 38px;
}
.veiw-posts{
  margin-top: 90px;
}
#backToTopBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
  z-index: 999;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}
#backToTopBtn:hover {
  background-color: #0b5ed7;
}
.body-form {
  margin: 0;
  font-family: 'Vazir', Arial, sans-serif;
  overflow-x: auto;
  overflow-y: auto;
}
#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f8f9fa;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
}



